.l-layout-left , .l-layout-center{
	border-top:0px;
	border-left:0px;
	border-right: 1px solid #eacece;
	border-bottom: 1px solid #eacece;
}
.l-layout-header {
	padding-left:20px;
	height:30px;
	line-height:30px;
	font-size:13px;
	color:#FFF;
	background: #d43a32 url('');
}
.l-layout-header-toggle {
	
}
.l-layout-left .l-layout-header-toggle {
	top:5px;
	background:url('../../../images/red/togglebar.gif');
	background-position:-20px 0;
}
.l-layout-left .l-layout-header-toggle-over {
	background-position:-20px -20px;
}

.l-layout-collapse-left-toggle, .l-layout-collapse-right-toggle {
	background:url('../../../images/red/togglebar.gif');
}

.l-layout-collapse-left-toggle {
	top : 5px;	
	background-position:-20px -40px;
}

.l-layout-collapse-left-toggle-over {
	background-position:-20px -60px;
}

.l-tab-links {
	height:30px;
	background: #fff6f7 url('');
	border-bottom: 1px solid #eacece;
	overflow:visible;
}
.l-tab-links-left {
	top:4px;
	background:url('../../../images/red/tabs-tools.gif') -0px 0px;
}
.l-tab-links-left-over {
	background-position: -17px 0px;
}
.l-tab-links-right {
	top:4px;
	background:url('../../../images/red/tabs-tools.gif') -51px 0px;
} 
.l-tab-links-right-over {
	background-position: -68px 0px;
}
.l-tab-links ul {
	height:30px;
	padding-top: 3px;
}
.l-tab-links li {
	border-top: 1px solid #eb9392;
	background: #fff6f7 url('');
	margin-left:5px;
	border-bottom: 1px solid #eacece;
	height: 26px;
	line-height: 26px;
}
.l-tab-links li.l-selected {
	background: #FFF url('');
	border-bottom: 0px;
}
.l-tab-links-item-left , .l-tab-links-item-right {
	width:1px;
	background: url('') #eb9392;
}


.l-layout-collapse-left {
	background:#fef8f8;
	border-top:0px;
	border-left:0px;
	border-right: 1px solid #eacece;
	border-bottom: 1px solid #eacece;
}