<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redrock.elan.mgm.busi.dao.BusiFileDtoMapper" >
  <resultMap id="BaseResultMap" type="com.redrock.elan.common.project.mgm.dto.busi.BusiFileDto" >
    <id column="ID" property="id" jdbcType="CHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="FILE_SIZE" property="fileSize" jdbcType="DECIMAL" />
    <result column="FILE_LOCATION" property="fileLocation" jdbcType="VARCHAR" />
    <result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
    <result column="FILE_EXT" property="fileExt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FILE_NAME, FILE_SIZE, FILE_LOCATION, FILE_TYPE, FILE_EXT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from busi_file
    where ID = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from busi_file
    where ID = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.redrock.elan.common.project.mgm.dto.busi.BusiFileDto" >
    insert into busi_file (ID, FILE_NAME, FILE_SIZE, 
      FILE_LOCATION, FILE_TYPE, FILE_EXT
      )
    values (#{id,jdbcType=CHAR}, #{fileName,jdbcType=VARCHAR}, #{fileSize,jdbcType=DECIMAL}, 
      #{fileLocation,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{fileExt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.redrock.elan.common.project.mgm.dto.busi.BusiFileDto" >
    insert into busi_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="fileSize != null" >
        FILE_SIZE,
      </if>
      <if test="fileLocation != null" >
        FILE_LOCATION,
      </if>
      <if test="fileType != null" >
        FILE_TYPE,
      </if>
      <if test="fileExt != null" >
        FILE_EXT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="fileLocation != null" >
        #{fileLocation,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileExt != null" >
        #{fileExt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.redrock.elan.common.project.mgm.dto.busi.BusiFileDto" >
    update busi_file
    <set >
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      </if>
      <if test="fileLocation != null" >
        FILE_LOCATION = #{fileLocation,jdbcType=VARCHAR},
      </if>
      <if test="fileType != null" >
        FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      </if>
      <if test="fileExt != null" >
        FILE_EXT = #{fileExt,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.redrock.elan.common.project.mgm.dto.busi.BusiFileDto" >
    update busi_file
    set FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=DECIMAL},
      FILE_LOCATION = #{fileLocation,jdbcType=VARCHAR},
      FILE_TYPE = #{fileType,jdbcType=VARCHAR},
      FILE_EXT = #{fileExt,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=CHAR}
  </update>
</mapper>